# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = (-0.08,-0.27,0.12,-0.03,0.26,-.40, 1.02)
pd.Series(dados)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5   -0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [11]:
# seu código aqui
anos = [1900,1920,1940,1960,1980,2000,2020]
pd.Series(dados,anos)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000   -0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [22]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0    96.481686  100.649514  107.564004
1   105.481146  111.388348   94.206496
2    97.045297   81.754581   89.647494
3   106.221045  104.636744  107.885191
4    82.200332   90.070813  100.230039
5    89.247431   91.120913  123.211275
6    92.571361   92.650061  106.152477
7    97.620549  102.685549  113.065854
8    88.174125  113.578132   95.219703
9   115.443726  100.552945  114.241715
10  106.805286   87.152400   93.595661
11  109.627293   76.046169  102.567544
12  101.696755  101.424854   84.550163
13   92.048159  104.856118   94.950603
14  109.084930  137.340832   94.532739
15   98.023474   80.861617   95.494698
16  109.074268  111.810003  101.659152
17   97.719532  114.688630  104.203540
18   95.112653  108.622056   92.780668
19  103.805136   86.875695   89.647849

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [40]:
#seu código aqui

column = ['x1','x2','x3']
indice = list(range(1, 21))
tabela = pd.DataFrame(data = arr,index = indice,columns = column)
tabela

            x1          x2          x3
1    96.481686  100.649514  107.564004
2   105.481146  111.388348   94.206496
3    97.045297   81.754581   89.647494
4   106.221045  104.636744  107.885191
5    82.200332   90.070813  100.230039
6    89.247431   91.120913  123.211275
7    92.571361   92.650061  106.152477
8    97.620549  102.685549  113.065854
9    88.174125  113.578132   95.219703
10  115.443726  100.552945  114.241715
11  106.805286   87.152400   93.595661
12  109.627293   76.046169  102.567544
13  101.696755  101.424854   84.550163
14   92.048159  104.856118   94.950603
15  109.084930  137.340832   94.532739
16   98.023474   80.861617   95.494698
17  109.074268  111.810003  101.659152
18   97.719532  114.688630  104.203540
19   95.112653  108.622056   92.780668
20  103.805136   86.875695   89.647849

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [49]:
# seu código aqui

tabela['media'] = (tabela['x1']+tabela['x2']+tabela['x3'])/3

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [52]:
# seu código aqui

tabela['log_med'] = (np.log(tabela['media']))
tabela

            x1          x2          x3       media   log_med
1    96.481686  100.649514  107.564004  101.565068  4.620700
2   105.481146  111.388348   94.206496  103.691996  4.641425
3    97.045297   81.754581   89.647494   89.482457  4.494043
4   106.221045  104.636744  107.885191  106.247660  4.665773
5    82.200332   90.070813  100.230039   90.833728  4.509031
6    89.247431   91.120913  123.211275  101.193206  4.617032
7    92.571361   92.650061  106.152477   97.124633  4.575995
8    97.620549  102.685549  113.065854  104.457317  4.648779
9    88.174125  113.578132   95.219703   98.990654  4.595025
10  115.443726  100.552945  114.241715  110.079462  4.701202
11  106.805286   87.152400   93.595661   95.851116  4.562796
12  109.627293   76.046169  102.567544   96.080336  4.565185
13  101.696755  101.424854   84.550163   95.890591  4.563208
14   92.048159  104.856118   94.950603   97.284960  4.577644
15  109.084930  137.340832   94.532739  113.652834  4.733148
16   98.023474   80.861617   95.494698   91.459930  4.515901
17  109.074268  111.810003  101.659152  107.514474  4.677625
18   97.719532  114.688630  104.203540  105.537234  4.659064
19   95.112653  108.622056   92.780668   98.838459  4.593487
20  103.805136   86.875695   89.647849   93.442894  4.537350